<div class="area-loja">
    <div class="header">
        <app-header [carrinho]="true" class="s" [admin]="false"></app-header>
    </div>
    <div class="main">
        <app-mobile-navbar></app-mobile-navbar>
        <div class="ng-categoria">
            <section class="container-area">
                <div class="carrossel">
                    <app-carrossel></app-carrossel>
                </div>
                <div class="ng-itens">
                    @for (categoria of categorias; track $index) {
                    <app-opcoes-categoria (idevent)="navigate(categoria.nome)" [url]="categoria.icone" [name]="categoria.nome"></app-opcoes-categoria>
                    }
                </div>
            </section>
            <div class="propaganda">
               @for (empresa of produtos; track $index) {
                    <app-mais-postados [produto]="empresa.produtos" [titulo]="empresa.nomeCompania"></app-mais-postados>
               }               
            </div>
        </div>
        <app-footer [footerActive]="true"></app-footer>
    </div>
</div>