.main{
    background-color: #F2F2F2;
    width: 100%;
.ng-categoria{
    display: flex;
    flex-direction: column;
    flex: 1;
    .container-area{
        background-color: #FFFFFF;
        margin-bottom: 20px;
        padding:10px 25px;
        .ng-itens{
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            margin-top: 20px;
            padding:2px 156px;
            align-items: center;
            justify-content: space-between;    
        }
    }
    .propaganda{
        margin: auto 56px;
    }
    
}
}
@media screen and (min-width: 768px) {
    .main {
        padding-top: 45px;
    }
}