.ng-banner {
    display: flex;
    width: 100%;
    scrollbar-width: thin;
    .ng-img {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #FF9D24;
        gap: 10px;
        h1{
            font-size: 52px;
        }
       
    }

}