<table>
    <thead>
        <tr>
            <th>Pedido</th>
            <th>Produto</th>
            <th>Cliente</th>
            <th>status</th>
            <th>data</th>
            <th>Fornecedor</th>
            <th>Entregador</th>
            <th>quantidade</th>
            <th>Forma de pagamento</th>
        </tr>
    </thead>
     <tbody>
        <tr>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
        </tr>
        <tr>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
        </tr>
        <tr>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
        </tr>
        <tr>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
            <td>11545</td>
        </tr>
     </tbody>
</table>