<div class="ng-form">
    <section>
        <div class="figure">
            <app-formModal>
                <form action="" [formGroup]="form.groupform">
                    <div class="slide_area" #elemento>

                        <div #slide class="slide" >
                            <div #slide1 class="ng-form-n1">

                                <section class="ng-title">
                                    <h4>Cadastrar minha conta </h4>
                                </section>
                                <fieldset class="ng-fieldset">
                                    <legend>Nome Completo</legend>
                                    <input type="text" class="ng-input" placeholder="Nome Completo..." #form1 autofocus="on" (keydown.enter)="mudarCampo(form2)"
                                        formControlName="name">
                                </fieldset>

                                <fieldset class="ng-fieldset">
                                    <legend>Número de telefone</legend>
                                    <input type="text" class="ng-input" placeholder="Nº de telefone..." #form2  (keydown.enter)="mudarCampo(form3)"
                                        formControlName="telefone"
                                        mask="(00) 00000-0000">
                                </fieldset>

                                <fieldset class="ng-fieldset">
                                    <legend>Email</legend>
                                    <input type="email" class="ng-input" placeholder="Email" formControlName="email" #form3 (keydown.enter)="MudaProximo()" >
                                </fieldset>
                             
                                <button  mat-raised-button [disabled]="!isRequiredNext()" class="ng-btn ng-btn-proximo" (click)="btnProximo()">Proximo</button>

                                
                            </div>
                        </div>
                        <div #slide class="slide">
                            <div #slide2 class="ng-form-n1">

                                <section class="ng-title">
                                    <h4>Conta </h4>
                                </section>

                                <div class="ng-data">
                                    <fieldset class="ng-fieldset">
                                        <legend>Sexo</legend>
                                        <select formControlName="sexo" id="" class="ng-input">
                                            <option disabled selected value="">Selecione</option>
                                            <option value="m">Masculino</option>
                                            <option value="f" >Feminino</option>
                                            <option value="o" >Outros</option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="ng-fieldset">
                                        <legend>Data nascimento</legend>
                                        <input type="date" class="ng-input" placeholder="Nome Completo..."
                                            formControlName="dataNascimento">
                                    </fieldset>
                                </div>

                                <fieldset class="ng-fieldset">
                                    <legend>CPF</legend>
                                    <input type="text" class="ng-input" autofocus="on"  #formSlide2_1 (keydown.enter)="enterSlide2(formSlide2_2)" placeholder="Nome Completo..."
                                        formControlName="cpf"
                                        mask="000.000.000-00">
                                </fieldset>

                                <fieldset class="ng-fieldset">
                                    <legend>Senha</legend>
                                    <input type="text" class="ng-input" #formSlide2_2 placeholder="Nº de telefone..." (keydown.enter)="enterSlide2(formSlide2_3)"
                                        formControlName="password">
                                </fieldset>

                                <fieldset class="ng-fieldset">
                                    <legend>Confirme a senha</legend>
                                    <input type="email" class="ng-input" #formSlide2_3 placeholder="Confirme senha" (keydown.enter)="save()"
                                        formControlName="repeteSenha">
                                </fieldset>

                                <section class="ng-section-btn">
                                    <button class="ng-btn ng-btn-proximo" (click)="btnVoltar()">Voltar</button>
                                    <button class="ng-btn ng-btn-cadastrar"  [disabled]="!isRequiredToRegistre()" mat-raised-button  (click)="cadastro()">Cadastrar</button>
                                </section>
                            </div>
                        </div>

                    </div>
                </form>
            </app-formModal>
        </div>
    </section>
</div>