<app-header [admin]="false"></app-header>
 @if (produtos.length!==0) {
<h1>{{name}}</h1>
 }
     @if (!produtos) {
    <p>Buscando produtos...</p>
  } @else if (produtos.length === 0) {
    <div class="produtos">
    <p>Nenhum produto encontrado.</p>
    </div>
  } @else {
    <div class="container">

    @for (item of produtos; track $index) {
      <app-utius 
        [titulo]="item.productName" 
        [imagem]="item.imgUrl" 
        [price]="item.price">
      </app-utius>
    }
    </div>
  }
