.produto-detalhes-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.galeria-imagens {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.galeria-imagens img {
  width: 60px;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 5px;
}

.galeria-imagens img.selecionada {
  border-color: #007bff;
}

.imagem-principal img {
  width: 300px;
  border-radius: 10px;
}

.informacoes {
  flex: 1;
  max-width: 400px;
}

.informacoes .marca {
  font-weight: bold;
  color: #007bff;
}

.preco-antigo {
  text-decoration: line-through;
  color: gray;
}

.desconto {
  color: green;
  font-weight: bold;
  margin-left: 10px;
}

.preco-final {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  display: block;
}

.variacoes .tag {
  background: #ffeaea;
  padding: 5px 10px;
  border-radius: 5px;
  color: #e60000;
}

.quantidade-carrinho {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.quantidade-carrinho input {
  width: 60px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.azul {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn.branco {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}

.empresa {
  font-size: 0.9rem;
  color: #444;
}


/////////
/// 
.carrossel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.scroll-container {
  border-radius: 3px;
  flex: 1;
  /* ocupa o espaço disponível */
  height: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 6px;
  scrollbar-width: none;
  /* Firefox */



}

.scroll-container::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari e Opera */
}

.scroll-container app-utius {
  flex: 0 0 auto;
  margin-right: 10px;
}

/* Botões */
.botoes {
  display: flex;
  align-items: center;

  .btn {
    right: 10px;

    mat-icon {
      font-size: 23px;
    }
  }
}
.pt{
  width:350px;
  height: 200px;
}