.ng-main {
  width: 100%;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 80px;


  .ng-logo {
    width: 150px;
    height: 55px;
    padding: 5px;
    background-image: url('/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
