<div class="ng-main">
    <div class="container container2">
        @for (item of itens; track $index) {
        <button class="btn-menu" [routerLink]="item.router">
            <mat-icon class="ng-menu-icon">{{ item.icon }}</mat-icon>
            <small class="ng-menu-name">{{ item.title }}</small>
        </button>
        }

        @if(isVisible) {
        <button class="btn-menu btn-logOut" (click)="deslogar()">
            <mat-icon class="ng-menu-icon">logout</mat-icon>
            <small class="ng-menu-name">Sair</small>
        </button>
        }
    </div>
</div>