.ng-main {
    width: 100%;
    padding-bottom: 80px;
    gap: 30px 0;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        gap: 1.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .btn-menu {
            display: flex;
            border: 0;
            align-items: center;
            gap: 0 10px;
            padding: 5px 0;
            background-color: #FFF;
            cursor: pointer;

            .ng-menu-icon {
                width: 35px;
                height: 35px;
                font-size: 28px;
                color: #333;
            }

            .ng-menu-name {
                font-size: 14px;
                font-weight: 550;
                color: #333;
            }
        }

        .btn-menu:hover {
            transform: scale(0.97);
            background-color: rgba(0, 0, 0, 0.05);
        }

        .perfil-principal {
            width: 100%;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
        }

        .btn-logOut {
            background: rgba(199, 7, 7, 0.9);
            margin-top: 30px;
            padding: 10px 30px;
            border-radius: 8px;
            border: none;

            .ng-menu-icon,
            .ng-menu-name {
                color: #fff;
                text-align: center;
            }
        }

    }



    .container2 {
        border: none;
    }
}

.btn-voltar {
    position: fixed;
    top: 20px;
    left: 15px;
    background-color: transparent;
    border: 0;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;

    mat-icon {
        color: #fff;
    }
}




// -----------------------------------------------------------------------------------------------------------//
@media screen and (min-width:769px) {
    .ng-main {
        width: 100%;
        display: flex;
        flex-direction: column;

        .container {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 20px;
            border-radius: 12px;


            .btn-menu {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 200px;
                height: 82px;
                padding: 10px;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);

                .ng-menu-icon {
                    width: 60px;
                    height: 60px;
                    font-size: 28px;
                    color: #1e3464;
                }

                .ng-menu-name {
                    font-size: 12px;
                    font-weight: 550;
                    color: #1e3464;
                }
            }



        }

        .container2 {
            display: flex;
            flex-direction: row;
            border: none;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 0;
            padding: 5px;
            gap: 25px;
        }
    }
}