<div class="ng-main" *ngIf="qr?.qrCodeLink">
    <h3>PIX disponível para pagamento!</h3>
    <h2>Faça o pagamento do PIX abaixo para finalizar o seu pedido:</h2>
    <qrcode [qrdata]="qr.qrCodeLink" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
    <div class="ng-key">
        <h2 >{{cortarTexto(qr.qrCodeLink,45)}}</h2>
    </div>
    <button mat-raised-button [disabled]="btnActive" color="primary" class="ng-btn" (click)="colcarTexto(qr.qrCodeLink)">
        {{titule}} <mat-icon>content_copy</mat-icon>
    </button>
    <div id="cardPaymentBrick_container"></div>
    <div class="img-compra-segura"></div>
</div>

