.produto-detalhes-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 5px 0;

}

.imagem-principal img {
  width: 150px;
  border-radius: 5px;
}

.informacoes {
  flex: 1;
  max-width: 400px;

  h1 {
    color: #726969;
    font-size: 16px;
  }

  .itens {
    display: flex;
    flex-direction: column;
    gap: 0 10px;

    .preco-final {
      font-size: 14px;
      font-weight: bold;
      color: #050644;
      display: block;
    }
  }
}


.preco-antigo {
  text-decoration: line-through;
  color: gray;
}

.desconto {
  color: green;
  font-weight: bold;
  margin-left: 10px;
}



.variacoes .tag {
  background: #ffeaea;
  padding: 5px 10px;
  border-radius: 5px;
  color: #e60000;
}

.quantidade-carrinho {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.quantidade-carrinho input {
  width: 60px;
  text-align: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn.azul {
  background-color: #007bff;
  color: white;
  border: none;
}

.btn.branco {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}

.empresa {
  font-size: 0.6rem;
  color: #444;
  margin-bottom: 10px;
}


// -----------------------------------------------------------------------------------------------------------//
@media screen and (min-width:769px) {


  .informacoes {
    flex: 1;
    max-width: 400px;

    h1 {
      color: #726969;
      font-size: 16px;
    }

    .itens {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 0 10px;

      .preco-final {
        font-size: 14px;
        font-weight: bold;
        color: #050644;
        display: block;
      }
    }
  }

}