<section class="container" (click)="desabiledCar()">
  <div class="container-int" (click)="filhoClicado($event)">
    <div class="container-header">
      <button class="btn" mat-flat-button (click)="desabiledCar()">
        <mat-icon>close</mat-icon>
      </button>
      <h1>Meu Carrinho</h1>
    </div>

    <div class="container-infor-produto">
      <section class="th">

        @if (carrinhoKeys().length > 0) {
        @for (empresaId of carrinhoKeys(); track empresaId) {
        <div class="bloco-empresa">
          <h3>🛍 {{ carrinhoPorEmpresa[empresaId].nomeCompania }}</h3>

          @for (item of carrinhoPorEmpresa[empresaId].itensPedido; track item.idProduto) {
          <app-item-carrinho [produto]="item" (quantidadeChange)="atualizarQuantidadeProduto($event)"
            (remover)="removerItemCarrinho($event)">
          </app-item-carrinho>
          }
        </div>
        }
        } @else {
        <p>Carrinho vazio.</p>
        }


      </section>
    </div>

    <div class="btn-compras">
      <div class="valor">
        <span>Subtotal</span>
        <small>Valor R$ {{ subtotal | number: '1.2-2' }}</small>
      </div>

      <button mat-flat-button class="ng-btn" (click)="finalizarPedido()"
        [disabled]="itensCarrinho.length === 0 || carregando">

        <span class="btn-content">Finalizar Compra</span>

        @if (carregando) {
        <div class="btn-spinner-container">
          <mat-spinner [diameter]="20" strokeWidth="2"></mat-spinner>
        </div>
        }
      </button>
    </div>
  </div>
</section>