.main {
    height: 100vh;
    width: 100%;
    margin-top: 40px;
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: rgba(21, 9, 185, 0.133);

    .tel .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .container-int {
            display: flex;
            flex-direction: column;
            width: 480px;
            background-color: #FFF;
            height: 100%;

            .container-header {
                display: flex;
                padding: 5px 2px;
                align-items: center;
                border-bottom: 2px solid #e6e6e6;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06); // sombra bem leve

                .btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                h1 {
                    text-align: center;
                    margin-right: 25px;
                    font-weight: 700;
                    font-size: 1.5rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    color: #222222;

                }
            }

            .container-infor-produto {
                flex: 1;
                overflow-y: auto;
                background-color: #FFF;
                scrollbar-width: thin;
                scrollbar-color: #0d1d3f;

                section {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;

                    .th {
                        margin: 10px 0;
                        width: 100%;
                        height: 150px;
                        background-color: rgb(240, 237, 237);
                    }
                }

            }

            .btn-compras {
                background-color: #FFF;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                width: 100%;
                height: 150px;
                padding: 10px 36px;
                border-top: 2px solid #e6e6e6;

                .valor {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    text-align: center;
                    padding: 5px 0;
                    border-bottom: 1px solid #e6e6e6;
                }



                .ng-btn {
                    position: relative;
                    width: 100%;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: var(--font-family);
                    background: var(--background-color-container);
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    margin-top: 20px;
                    border-radius: 5px;
                    border: 1px solid #c8c8c8;
                    overflow: hidden;
                    cursor: pointer;
                }

                .btn-content {
                    z-index: 1;
                }

                .btn-spinner-container {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;
                    pointer-events: none;
                }


                .ng-btn:hover {
                    background-color: #eee;
                }

                .ng-btn:active {
                    transform: scale(0.97);

                }

                .ng-btn:disabled {
                    background: rgba($color: #eee, $alpha: 0.8);
                    color: #888;
                }

            }
        }
    }
}

app-maps-google {
  overflow: visible !important;
}

@media screen and (min-width: 769px) {
    .main {
        margin-top: 50px;
    }
}