<div class="ng-body">
    <main class="main">
        <div class="header">
            <div class="ng-logo">
            </div>
            <app-header [admin]="true" (ativaMenu)="ativo()"></app-header>
        </div>
        <div class="ng-container">
            @if (ativa) {
            <app-menu-dropdown [desabled]="ativa"></app-menu-dropdown>
            }
            <section class="ng-main">
                <div class="area-main">
                    <router-outlet></router-outlet>
                    <footer class="footer">Developed by Zapdai</footer>
                </div>
            </section>
        </div>

    </main>
</div>