.ng-body {
    display: flex;
    flex-direction: column;

    aside {
        box-sizing: border-box;
        border-right: 1px solid #eee;
        //    background-color: #0d1d3f;

        .ng-logo {
            height: 54px;
            padding-right: 5px;
            background-size: contain;
            background-image: url("/logo.png");
            padding: 17px 2px;
            background-repeat: no-repeat;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: end;
            cursor: pointer;

            .icon {
                text-align: center;
                cursor: pointer;

            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        scrollbar-color: #505861 #fff;
        height: 100vh;

        .header {
            width: 100%;
        }

        .ng-container {
            display: flex;
            margin-top: 85px;

            .ng-main {
                width: 100%;
                overflow-y: auto;

                .area-main {
                    width: 100%;
                    padding-bottom: 90px;
                    padding: 0 15px;

                }

                .footer {
                    height: 30px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #8b8383;
                    margin-bottom: 60px;
                }
            }
        }
    }
}

@media screen and (max-width: 769px) {
    .log {
        display: none;
    }


}