<section>
    <div class="figure">
        <div class="slide_area">
            <input type="radio" #radio1 name="radio1" id="radio1" checked>
            <input type="radio" #radio2 name="radio1" id="radio2">
            <input type="radio" #radio3 name="radio1" id="radio3">
            <div #slide class="slide first">
                <div class="slide_text">
                    <h2>Produto 0
                    </h2>

                </div>
            </div>
            <div #slide class="slide area2">
                <div class="slide_text">
                    <h2>Produto 1
                    </h2>
                </div>
            </div>
            <div #slide class="slide area2">
                <div class="slide_text">
                    <h2>Produto 2
                    </h2>
                </div>
            </div>
            <div class="slide_checked">
                <div class="checked1"></div>
                <div class="checked2"></div>
                <div class="checked3"></div>
            </div>
        </div>
        <div class="slide_radio ">
            <label for="radio1" class="radio_name1"></label>
            <label for="radio2" class="radio_name1"></label>
            <label for="radio3" class="radio_name1"></label>
        </div>
    </div>
</section>