.figure {
    margin: 0;
    padding: 0;
    overflow: hidden;

    .slide_area {
        width: 400%;
        display: flex;

        input {
            display: none;
        }

        .slide {
            width: 25%;
            height: 290px;
            transition: all 2s ease-in;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }

            .slide_text {
                background-image: url("https://img.cdndsgni.com/preview/10109390-m.jpg");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: top center;
                width: 100%;
                height: 100%; /* altura proporcional à tela */
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px 10px;
                text-align: center;

                img {
                    width: 100%;
                }

                h2 {
                    font-size: 2em;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #b8b4a6;
                    margin: 0;
                    padding: 0;
                }

                h4 {
                    width: 100%;
                    font-size: 1em;
                    padding: 5px;
                    text-transform: uppercase;
                    word-wrap: break-word;
                    font-weight: bold;
                    color: #ccc5d3;
                }

                p {
                    font-size: .9em;
                    word-wrap: break-word;
                    margin-top: 0;
                    padding: 5px;
                    color: #ccc5d3;

                }
            }

        }

        #radio1:checked~.first {
            margin-left: 0%;
        }

        #radio2:checked~.first {
            margin-left: -25%;
        }

        #radio3:checked~.first {
            margin-left: -50%;
        }
        #radio4:checked~.first {
            margin-left: -75%;
        }

        .slide_checked {
            position: absolute;
            width: 18%;
            height: 30px;
            margin-top: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .slide_checked div {
            width: 8px;
            height: 8px;
            border-radius: 15px;
            border: 1px solid blue;
        }

        .slide_checked div:not(:first-child) {
            margin-left: 25px;
        }

    }

    .slide_radio {
        width: 80%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -30px;

        .radio_name1 {
            width: 8px;
            height: 8px;
            border-radius: 15px;
            border: 1px solid #888;
            cursor: pointer;

        }

    }

    .slide_radio label:not(:first-child) {
        margin-left: 25px;
    }

    .name_bassner {
        position: absolute;
        width: 100%;
    }
}

#radio1:checked~.slide_checked .checked1 {
    background-color: rgb(51, 50, 50);
}

#radio2:checked~.slide_checked .checked2 {
    background-color: rgb(51, 50, 50);
}

#radio3:checked~.slide_checked .checked3 {
    background-color: rgb(51, 50, 50);
}
#radio4:checked~.slide_checked .checked4 {
    background-color: rgb(51, 50, 50);
}
@media screen and (max-width:900px) {
    .figure {
        // display: none;

    }

}