    <div class="main">
        <div class="container">
            <div class="card">
                <h1>✅ Pagamento Confirmado!</h1>
                <p>Sua assinatura foi ativada com sucesso.</p>
                <p>Você pode acessar agora mesmo a área de Administrador da sua conta, clicando no botão abaixo!</p>
                <div class="section">
                    <button class="ng-btn" (click)="pageAdmin()">Acessar Meu Negócio</button>
                </div>
            </div>
        </div>

    </div>
