// box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1)
.ng-itens-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px ;
    .ng-logo-item {
        width: 2.5em;
        height: 2.5em;
        border-radius: 0.5em;
        object-fit: cover;
        background-size: cover;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        padding: 1px;
        cursor: pointer;

        img {

            text-align: center;
            width: 100%;
            height: 100%;
        }
    }

    .titulo {
        color: var(--color-header);
        padding:5px 0;
        font-size: 12px;
    }

}