.container {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    .container-int {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 0 20px;
        gap: 20px;

        .container-header {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            background-color: #fff;
            position: fixed;
            padding: 5px 2px;
            border-bottom: 2px solid #e6e6e6;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);

            button {
                padding: 5px;
            }

            div {
                width: 100%;
            }

            h1 {
                text-align: center;
                font-weight: 700;
                font-size: 1.5rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #222222;

            }
        }

        .container-infor-produto {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            gap: 20px;
            margin-top: 70px;

            .th {
                display: flex;
                flex-direction: column;
                margin: 10px 0;
                width: 100%;


                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    gap: 10px 0;

                    .ng-fieldset {
                        width: 100%;
                        padding: 2px;
                        border-radius: 5px;
                        margin-top: 15px;
                        border-color: #888;

                        legend {
                            font-size: 12px;
                            font-weight: 500;
                            color: #333;
                            padding: 0 4px;
                        }

                        .ng-input {
                            background-color: transparent;
                            outline: none;
                            border: none;
                            width: 100%;
                            height: 30px;
                            font-size: 16px;
                            color: #444;
                        }

                        .ng-input::placeholder {
                            color: #888;
                            font-size: 14px;
                            padding-left: 10px;
                        }

                        .ng-password-btn {
                            display: flex;
                            padding: 2px;

                            mat-icon {
                                cursor: pointer;
                                transform: scale(0.0.97);
                            }
                        }

                    }


                    .fieldset-disabled {
                        border-color: #eee;

                        legend {
                            color: #999;
                        }

                        .ng-input[readonly] {
                            border: none !important;
                            color: #777 !important;
                            background-color: transparent !important;
                            caret-color: transparent;
                            pointer-events: none;
                        }
                    }


                    .ng-listForm {
                        display: flex;
                        justify-content: space-between;
                        gap: 0 15px;

                        div {
                            flex: 1;
                        }
                    }

                    .ng-error {
                        width: 100%;
                        font-size: 12px;
                        color: #FF8401;
                        padding: 2px 5px;
                    }



                    .tab-container {
                        font-family: Arial, sans-serif;
                    }

                    .tab-header {
                        display: flex;
                        gap: 0 10px;

                        button {
                            flex: 1;
                            padding: 4px 8px;
                            border: none;
                            background: transparent;
                            color: white;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 6px;
                            background-color: #468ed6;
                            border-radius: 100px;
                            font-size: 12px;

                            &.active {
                                background-color: #0d59af;
                                font-weight: bold;
                            }

                            mat-icon {
                                font-size: 20px;
                            }

                            &:hover {
                                background-color: #0d47a1;
                            }
                        }
                    }

                    .tab-body {
                        padding: 15px 0;
                        background-color: #fff;

                        h3 {
                            margin-top: 0;
                        }

                        label {
                            display: block;
                            margin-bottom: 12px;

                            input {
                                width: 100%;
                                padding: 6px;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                            }
                        }
                    }



                }

                .ng-btn {
                    width: 100%;
                    height: 35px;
                    border-radius: 5px;
                    border: 1px solid #c8c8c8;
                    cursor: pointer;
                    font-family: var(--font-family);
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    margin-top: 20px;
                    background-color: #112855;
                }

                .ng-btn:hover {
                    background-color: #22438a;
                }

                .ng-btn:active {
                    transform: scale(0.97);

                }

                .ng-btn:disabled {
                    color: #888;
                }
            }


        }

        .ng-btn {
            width: 100%;
            height: 45px;
            border-radius: 5px;
            border: 1px solid #c8c8c8;
            cursor: pointer;
            font-family: var(--font-family);
            font-size: 14px;
            font-weight: 500;
            background: var(--background-color-container);
            color: #ddd;
            margin-bottom: 60px;
        }

        .ng-btn:hover {
            background-color: #6d4386;
        }

        .ng-btn:active {
            transform: scale(0.97);

        }

        .ng-btn:disabled {
            color: #888;
        }

    }


}

.custom-autocomplete-panel {
    background-color: #FFF !important;
    margin-top: 15px;
    transform-origin: top center !important;

    li {
        border-bottom: 1px solid #eee;
    }
}


// -----------------------------------------------------------------------------------------------------------//
@media screen and (min-width:769px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .container-int {
            display: flex;
            flex-direction: column;
            width: 380px;
            border-radius: 10px;
            height: auto;
            padding: 0 30px;


            .container-header {
                position: relative;
                border-bottom: 2px solid #e6e6e6;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
            }

            .container-infor-produto {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 350px;
                gap: 0 50px;
                margin-top: 0;

                section {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                }

            }

            .ng-btn {
                margin-bottom: 20px;
            }

        }
    }

    .custom-autocomplete-panel {
        max-height: 250px;
        overflow-y: auto;

        li {
            border-bottom: 1px solid #eee;
        }
    }
}

.ng-con {
    display: flex;
    align-items: center;
    gap: 0 20px;

    .icone {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
}