.ng-main {
    width: 100%;
    background: #F2F2F2;

    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 25px;

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 10px 0;


            .ng-fieldset {
                width: 100%;
                padding: 2px;
                border-radius: 5px;
                margin-top: 15px;
                border-color: #888;

                legend {
                    font-size: 12px;
                    font-weight: 500;
                    color: #333;
                    padding: 0 4px;
                }

                .ng-input {
                    background-color: transparent;
                    outline: none;
                    border: none;
                    width: 100%;
                    height: 30px;
                    font-size: 16px;
                    color: #444;
                }

                .ng-input::placeholder {
                    color: #888;
                    font-size: 14px;
                    padding-left: 10px;
                }

                .ng-password-btn {
                    display: flex;
                    padding: 2px;

                    mat-icon {
                        cursor: pointer;
                        transform: scale(0.0.97);
                    }
                }



            }

            .ng-listForm {
                display: flex;
                justify-content: space-between;
                gap: 0 15px;

                div {
                    flex: 1;
                }
            }

            .ng-error {
                width: 100%;
                font-size: 12px;
                color: #FF8401;
                padding: 2px 5px;
            }

            .selectPlan {
                color: #FFF;
                margin-bottom: 10px;
                font-size: 16px;
            }

            .mat-mdc-chip-set {
                max-width: 80%;
            }

            mat-chip-option {
                padding: 20px 0;
                border-radius: 12px;
                font-weight: 550;
                font-size: 16px;
                background-color: #fff;
                color: #ccc;
                transition: all 0.3s ease;

                h4 {
                    margin: 0;
                }

                &.mdc-evolution-chip--selected {
                    background-color: #1976d2;
                    color: white;
                }

                &:hover {
                    background-color: #e0e0e0;
                }

            }


            .tab-container {
                font-family: Arial, sans-serif;
            }

            .tab-header {
                display: flex;
                gap: 0 10px;

                button {
                    flex: 1;
                    padding: 4px 8px;
                    border: none;
                    background: transparent;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;
                    background-color: #468ed6;
                    border-radius: 100px;
                    font-size: 12px;

                    &.active {
                        background-color: #0d59af;
                        font-weight: bold;
                    }

                    mat-icon {
                        font-size: 20px;
                    }

                    &:hover {
                        background-color: #0d47a1;
                    }
                }
            }

            .tab-body {
                padding: 15px 0;
                background-color: #fff;

                h3 {
                    margin-top: 0;
                }

                label {
                    display: block;
                    margin-bottom: 12px;

                    input {
                        width: 100%;
                        padding: 6px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                    }
                }
            }



        }


        .ng-btn {
            width: 100%;
            height: 35px;
            border-radius: 5px;
            border: 1px solid #c8c8c8;
            cursor: pointer;
            font-family: var(--font-family);
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            margin-top: 20px;
            background-color: #112855;
        }

        .ng-btn:hover {
            background-color: #22438a;
        }

        .ng-btn:active {
            transform: scale(0.97);

        }

        .ng-btn:disabled {
            color: #888;
        }

    }

}

// 
@media screen and (min-width:769px) {
    .ng-main {
        width: 100%;

        .container {
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            .tab-header {
                width: 50%;
            }
        }
    }
}