.ng-container{
    display: flex;
    height: auto;
    .ng-main{
        flex: 1;
            padding: 0 10px;
        .area-main{
            background-color: #f2f2f2;
            height: auto;
            scrollbar-color: #505861 #f2f2f2;

        }
    }
}

@media screen and (min-width: 768px) {
    .ng-container {
        padding-top: 55px;
    }
}