.ng-container{
    display: flex;
    height: 100vh;
    aside{
       overflow: hidden;

    }
    
    .ng-main{
        flex: 1;
        .area-main{
            background-color: #f2f2f2;
            height: 100vh;
            padding: 5px;

        }
    }
}