.ng-container{
    display: flex;
    aside{
        height: 100vh;
    }
    .ng-main{
        flex: 1;
        .area-main{
            background-color: #888;
            height: 100vh;

        }
    }
}