@if (desabled) {
<div class="area-menu">
    <section class="menu">
        <section class="ng-logo" >
    </section>
        
        <nav class="menu-area">

            <!-- <mat-icon class="dropClosed">arrow_back_ios</mat-icon> -->
            <ul>
                @for (item of functionList?.funcoes ?? []; track item.id) {
                <li [routerLink]="item.router" routerLinkActive="active-page" class="item" ariaCurrentWhenActive="page"
                    [routerLinkActiveOptions]="{ exact: false }" (click)="handleItemClick(item)">
                    <mat-icon class="icon">{{ item.icone }}</mat-icon>
                    @if (dropOpen) {
                    <div class="icone-name">
                        <div class="text-left">
                            {{ item.name }}
                        </div>
                        @if (item.children && item.children.length > 0) {
                        <mat-icon>
                            {{ setIcon(!item.ativo) }}
                        </mat-icon>
                        }
                    </div>
                    }
                </li>

                @for (child of item.children; track child.id) {
                @if (item.ativo) {
                <div class="sub-menu" [routerLink]="child.router" routerLinkActive="active-page" (click)="desabledMenu()">
                    <mat-icon class="icone-sub">check_box_outline_blank</mat-icon>
                    <span>{{ child.name }}</span>
                </div>
                }
                }
                }
            </ul>
        </nav>
    </section>
</div>
}