    <div class="main">
        <div class="ng-checkout">
            <section class="ng-container ng-payment">
                <div class="ng-subContainer">
                    <h4>Informações Pessoais</h4>
                    <form class="ng-form1" [formGroup]="form.checkoutForm">
                        <div class="form-field">
                            <label for="Nome Completo">Nome Completo</label>
                            <input
                              type="text"
                              id="NomeCompleto"
                              formControlName="NomeCompleto"
                              placeholder="Informe seu Nome..."
                              class="input-full-width"
                            />
                            <div class="error" *ngIf="isRequired('email')">
                              Por favor, insira seu nome completo.
                            </div>
                        </div>  
                        <div class="form-field">
                            <label for="email">Email</label>
                            <input
                              type="email"
                              id="email"
                              formControlName="email"
                              placeholder="Ex. pat@example.com"
                              class="input-full-width"
                            />
                            <div class="error" *ngIf="isRequired('email')">
                              Por favor, insira um email válido.
                            </div>
                        </div>  
                        <div class="form-field">
                            <label for="cpfCnpj">CPF / CNPJ</label>
                            <section class="ng-cont">
                                <div class="ng-checkbox">
                                    <label>
                                    <input
                                        selected
                                        type="checkbox"
                                        [checked]="selected === 'cpf'"
                                        (change)="selecionar('cpf')"
                                    />
                                    CPF
                                    </label>
                                    <label>
                                    <input
                                        type="checkbox"
                                        [checked]="selected === 'cnpj'"
                                        (change)="selecionar('cnpj')"
                                    />
                                    CNPJ
                                    </label>
                                </div>
                                <div class="ng-input-cpf">
                                    <input
                                        formControlName="cpfCnpj"
                                        [mask]="selected === 'cpf' ? '000.000.000-00' : '00.000.000/0000-00'"
                                        type="text"
                                        placeholder="Digite CPF ou CNPJ"
                                        class="input-full-width"
                                    />
                                
                                    <div class="error" *ngIf="isRequired(selected)">
                                        Por favor, insira um CPF ou CNPJ válido.
                                    </div>
                                </div>
                            </section>
                        </div>
                    </form>
                </div>
                <div class="ng-subContainer">
                    <h4>Métodos de Pagamento</h4>
                    <div class="form-field">
                        <app-paymentMP></app-paymentMP>
                    </div>
                </div>
                
            </section>
            <section class="ng-container ng-my-order">
                <div class="ng-subContainer ng-my-orderContainer">
                    <h4>Resumo da Compra</h4>
                    <section class="ng-itemCompra">
                        <img src="logo.png" alt="Zapdai">
                        <div>
                            <h3>Plano Pleno</h3>
                            <p>R$ 197,00</p>
                        </div>
                    </section>
                    <div class="valores">
                        <h4>Desconto:</h4>
                        <p>R$ 0,00</p>
                    </div>
                    <div class="valores">
                        <h4>Valor Total:</h4>
                        <p>R$ 197,00</p>
                    </div>
                    <hr>
                    <img src="pagamentos/compra_segura_mercado_pago.png" alt="Pagamento seguro Mercado Pago" class="img-compra-segura">
                    <button class="btn-pagamento" (click)="finalizarPagamento()">Finalizar Pagamento</button>
                    
                </div>
                <div>
                    <h4></h4>
                </div>
            </section>
        </div>
    </div>
    @if (ativo) {
        <app-aside-modal (emitModal)="ativaModal()">
        </app-aside-modal>
    }
