<div class="produto-detalhes-container">
  <!-- Galeria lateral -->
  <!-- <div class="galeria-imagens">
    <img *ngFor="let img of produto.imagens" 
         [src]="img" 
         (click)="imagemSelecionada = img"
         [class.selecionada]="imagemSelecionada === img"
         alt="Imagem produto" />
  </div> -->

  <div class="imagem-principal">
    <img [src]=" produto?.imgProduct" alt="Imagem principal" />
  </div>

  <div class="informacoes">
    <span class="marca">{{ produto.nomeCompania }}</span>
    <h1>{{ produto.productName }}</h1>
    <p class="codigo">Cód.: {{ produto.codigo }}</p>

    <div class="precos">
      <span class="preco-antigo">R$ {{ produto.price  }}</span>
      <span class="desconto">Baixou {{ produto.desconto }}%</span>
      <span class="preco-final">R$ {{ produto.price }} <small>no pix</small></span>
      <span class="parcelamento">ou {{ produto.parcelas }}</span>
    </div>

    <div class="variacoes">
      <p><strong>Cor:</strong> <span class="tag">{{ produto.cor }}</span></p>
    </div>

    <div class="quantidade-carrinho">
      <button >-</button>
      <input type="number"  [value]="quantidade"/>
      <button (click)="quantidade = quantidade + 1">+</button>

      <button class="btn azul" (click)="adicionarAoCarrinho($event)">Adicionar ao carrinho</button>
      <button class="btn branco">Comprar agora</button>
    </div>

    <p class="empresa">Vendido por <strong>{{ produto.empresaDTO.nomeCompania }}</strong></p>
  </div>
</div>
