<div class="ng-box">
    <div class="ng-plano">
        <div class="ng-off">
            <h3>{{itens?.title}}</h3>
            <p>20%OFF</p>
        </div>
        <p>{{itens?.subDescricaoPermition}}</p>
         @if (itens?.promocao=="") {
             <h1>{{itens?.price}}</h1>
         }@else {
            <h1>{{itens?.promocao}}</h1>
         }
        <ul>
            <li [style.white-space]="'pre-line'">{{ sanitizeDescription(itens?.description) }}</li>
            
        </ul>
        <button (click)="ativaModal()" class="ng-btn-cadastrar">Cadastrar Agora</button>
    </div>
</div>