<div class="ng-main">
  @if (isVisible) {
    <button class="btn-voltar" (click)="voltarPaginaAnterior()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
  }

  <div class="container">
    <div class="ng-cont1">
      <h2>Acessar minha conta</h2>
      <div class="steps-indicator"></div>
    </div>

    <form [formGroup]="groupform">
        <div class="form-step step-2">
          <div class="card flex justify-center custom-otp">
            <p-inputotp
              #primeiroInput
              autofocus
              [length]="6"
              formControlName="code"
              (keydown.enter)="AuthUserCodeWhatsapp()" />
          </div>

          @if (isRequired('code')) {
            <small class="ng-error">Informe o código de Autenticação!</small>
          }

          <button mat-flat-button type="button" (click)="pageLoginWhatsapp()">Reenviar código</button>
        </div>
      <div class="buttons">
          <button
            mat-flat-button
            class="ng-btn"
            (click)="AuthUserCodeWhatsapp()"
            [disabled]="isRequired('code') || btnAtivo">
            Confirmar código de Autenticação
          </button>
      </div>
    </form>

    <div class="btn-auth">
      <button mat-flat-button class="ng-btn ng-btn-signup" (click)="pageSignin()">
        Login com Email/Senha
      </button>
    </div>
  </div>
</div>
