<div class="ng-main">
  @if (isVisible) {
  <button class="btn-voltar" (click)="voltarPaginaAnterior()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  }

  <div class="container">
    <div class="ng-cont1">
      <h2>Acessar minha conta</h2>
      <div class="steps-indicator"></div>
    </div>

    <form [formGroup]="groupform">
      <div class="form-step step-2">
        <div #otpContainer class="card flex justify-center custom-otp">
          <ngx-otp-input #otpRef [options]="otpOptions" (otpChange)="onCodeChange($event)"
            (otpComplete)="onOtpComplete($event)">
          </ngx-otp-input>

        </div>

        @if (isRequired('code')) {
        <small class="ng-error">Informe o código de Autenticação!</small>
        }

        <div class="reenviar-corrigir">
          <button mat-button color="primary" class="botao-reenviar" [disabled]="!reenviarDisponivel"
            (click)="renviarCodigoWhatsAppp()">
            {{ reenviarDisponivel ? 'Reenviar Código' : 'Reenviar em (' + contador + 's)' }}
          </button>
          <span>|</span>
          <button mat-button color="primary" class="botao-reenviar" (click)="pageLoginWhatsapp()">
            Corrigir Número
          </button>
        </div>


      </div>
      <div class="buttons">
        <button mat-flat-button class="ng-btn" (click)="AuthUserCodeWhatsapp()"
          [disabled]="!isCurrentStepValid() || carregando">

          <span class="btn-content">Confirmar código de Autenticação</span>

          @if (carregando) {
          <div class="btn-spinner-container">
            <mat-spinner [diameter]="20" strokeWidth="2"></mat-spinner>
          </div>
          }
        </button>
      </div>
    </form>
  </div>
</div>