.container {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;

    .container-int {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        padding: 0;
        gap: 20px 0;

        .container-header {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            background-color: #fff;
            position: fixed;
            z-index: 1002;
            padding: 5px 2px;
            border-bottom: 2px solid #e6e6e6;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);


            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                border: none;
                padding: 8px;
            }

            div {
                width: 100%;
            }

            .header-searh {
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: #fff;

                .ng-fieldset {
                    width: 80%;
                    border-radius: 5px;
                    border-color: #bbb;
                    background-color: #fff;
                    border: 1px solid #aaa;

                    legend {
                        font-size: 12px;
                        font-weight: 500;
                        color: #555;
                        padding: 0 4px;
                    }

                    input {
                        background-color: transparent;
                        outline: none;
                        border: none;
                        width: 100%;
                        height: 30px;
                        font-size: 16px;
                        color: #333;
                    }

                    .ng-input::placeholder {
                        color: #999;
                        font-size: 14px;
                        padding-left: 10px;
                    }



                }
            }

            h1 {
                text-align: center;
                font-weight: 700;
                font-size: 1.2rem;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: #444;
            }
        }

        .container-infor-produto {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            gap: 10px;
            margin-top: 20px;
            padding: 20px 0;


            .map-wrapper {
                position: fixed;
                width: 100%;
                height: 95%;

                google-map {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                }



                .center-marker {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    pointer-events: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: auto;
                    width: auto;
                    padding: 0;

                    .pin-icon {
                        font-size: 35px;
                        color: red;
                        transition: transform 0.5s ease, color 0.2s ease;
                        height: 40px;
                        line-height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 3;
                    }

                    .pin-shadow {
                        width: 15px;
                        height: 6px;
                        background: rgba(0, 0, 0, 0.4);
                        border-radius: 50%;
                        transform: translateY(-10px);
                        /* puxando a sombra pra cima */
                        filter: blur(2px);
                        z-index: 1;
                        pointer-events: none;
                    }

                    &.moving .pin-icon {
                        animation: floatPin 1s ease-in-out infinite alternate;
                        color: black;
                    }
                }




                @keyframes floatPin {
                    0% {
                        transform: translateY(0);
                    }

                    100% {
                        transform: translateY(-15px);
                    }
                }
            }


            .ng-btn {
                width: 100%;
                height: 45px;
                border-radius: 5px;
                border: 1px solid #c8c8c8;
                cursor: pointer;
                font-family: var(--font-family);
                font-size: 14px;
                background: var(--background-color-container);
                color: #ddd;
            }


            .ng-btn:active {
                transform: scale(0.97);

            }

            .ng-btn:disabled {
                color: #888;
            }


            .footer-confirmar {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #fff; // fundo branco
                padding: 10px 20px;
                box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); // sombra suave em cima
                display: flex;
                justify-content: center;
                z-index: 1002;

                button.btn-confirmar {
                    width: 100%;
                    height: 50px;
                    background: var(--background-color-container);
                    color: white;
                    font-weight: 700;
                    font-size: 16px;
                    border: none;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;


                    &:active {
                        transform: scale(0.98);
                    }
                }
            }
        }

    }
}




.btn-voltar {
    position: fixed;
    top: 20px;
    left: 15px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;

    mat-icon {
        color: #fff;
    }
}

// google-map {
//     display: block;
//     height: 400px !important;
//     width: 100% !important;
//     border: 1px solid red;
//     background-color: rgba(255, 0, 0, 0.1);
//     /* para visualizar a borda do container */

// }


// 
@media screen and (min-width:730px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .container-int {
            display: flex;
            flex-direction: column;
            width: 680px;
            border-radius: 10px;
            height: auto;
            padding: 0 10px;
            gap: 0;

            .container-header {
                position: relative;
                border-bottom: 2px solid #e6e6e6;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);

            }


            .container-infor-produto {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: auto;
                gap: 0;
                margin-top: 0;
                padding: 0;


                .map-wrapper {
                    position: relative;
                    width: 100%;
                    height: 80dvh;

                    google-map {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                        margin-bottom: 20px;
                    }

                }

                .footer-confirmar {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background-color: #fff; // fundo branco
                    padding: 20px;
                    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); // sombra suave em cima
                    border: none;
                    display: flex;
                    justify-content: center;
                    z-index: 1002;
                }
            }

        }
    }
}