<section class="container" (click)="desabiledCar()">
    <div class="container-int" (click)="filhoClicado($event)">
        <div class="container-header">
            <button class="btn" mat-flat-button (click)="desabiledCar()">
                <mat-icon>close</mat-icon>
            </button>
            <div>
                <h1>Minha Localização</h1>
            </div>
        </div>

        <div class="container-infor-produto">
            <fieldset class="ng-fieldset">
              <legend>Buscar Endereço</legend>
            <input #searchInput type="text" class="ng-input" placeholder="Digite um endereço" autocomplete="off"
                class="autocomplete-input" />
            </fieldset>

            <div class="map-wrapper">
                <google-map [center]="center" [zoom]="zoom" [options]="mapOptions" height="100%" width="100%"
                    (centerChanged)="onMapCenterChanged()" (idle)="onMapIdle()">
                </google-map>

                <!-- Ícone de localização central -->
                <div class="center-marker" [class.moving]="isMapMoving">
                    <mat-icon class="pin-icon">location_on</mat-icon>
                    <div class="pin-shadow"></div> <!-- sombra -->
                </div>
            </div>


        </div>
    </div>
</section>