.ng-main {
    width: 100%;
    height: 100dvh;
    background: var(--background-color-container);
    overflow: auto;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px 30px;
        gap: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .ng-cont1 {
            display: flex;
            flex-direction: column;
            height: 25%;

            h2 {
                text-align: center;
                font-size: 18px;
                margin-bottom: 20px;
                color: #ddd;
            }

            .steps-indicator {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
            }

            .steps-indicator div {
                display: flex;
                justify-content: space-between;
                width: 100%;
                font-weight: 500;
                color: #ddd;
                gap: 10px;
                font-size: 8px;

                .ng-cont {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row;
                    gap: 0;
                    cursor: default;
                    user-select: none;
                    transition: background-color 0.3s ease;
                    padding: 0 30px;


                    .ng-bola {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: #ccc;
                        font-weight: 600;
                        color: #555;
                        line-height: 20px;
                        text-align: center;
                    }

                    .ng-hr {
                        width: 45%;
                        height: 3px;
                        background-color: #ddd;
                    }


                    .ng-bola.active,
                    .ng-hr.active,
                    .ng-p.active {
                        background-color: #af5ffa;
                        color: #ccc;
                    }
                }

                .ng-p.active {
                    color: #af5ffa;
                }

            }
        }





        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 10px 0;


            .form-step .ng-fieldset {
                width: 100%;
                padding: 2px;
                border-radius: 5px;
                margin-top: 15px;
                border-color: #bbb;

                legend {
                    font-size: 12px;
                    font-weight: 500;
                    color: #bbb;
                    padding: 0 4px;
                }

                .ng-input {
                    background-color: transparent;
                    outline: none;
                    border: 0;
                    width: 100%;
                    height: 30px;
                    font-size: 16px;
                    color: #eee;
                }

                .ng-input::placeholder {
                    color: #999;
                    font-size: 14px;
                    padding-left: 10px;
                }

                .ng-password-btn {
                    display: flex;
                    padding: 2px;

                    mat-icon {
                        cursor: pointer;
                        transform: scale(0.0.97);
                    }
                }



            }

            .ng-listForm {
                display: flex;
                justify-content: space-between;
                gap: 0 15px;

                div {
                    flex: 1;
                }
            }

            .ng-error {
                width: 100%;
                font-size: 12px;
                color: #FF8401;
                padding: 2px 5px;
            }
        }




        .buttons {
            display: flex;
            justify-content: space-between;
            gap: 0 15px;


            .ng-btn {
                width: 100%;
                height: 35px;
                border-radius: 5px;
                border: 1px solid #c8c8c8;
                cursor: pointer;
                font-family: var(--font-family);
                font-size: 14px;
                font-weight: 500;
                color: #592d74;
                margin-top: 20px;
            }

            .ng-btn:hover {
                background-color: #eee;
            }

            .ng-btn:active {
                transform: scale(0.97);

            }

            .ng-btn:disabled {
                color: #888;
            }
        }
    }
}

.custom-otp {
    display: flex;
    justify-content: center;
}

.custom-otp ::ng-deep input {
    background-color: transparent;
    /* cor de fundo */
    border: 2px solid #bbb;
    /* borda */
    color: #fff;
    /* cor do texto */
    border-radius: 8px;
    /* bordas arredondadas */
    height: 50px;
    font-size: 16px;
}

/* Adiciona efeito ao focar */
.custom-otp ::ng-deep input:focus {
    border-color: #68bd7b;
    /* verde ao focar */
    box-shadow: 0 0 5px #68bd7b;
}


.ng-btn-signup {
    height: 25px;
    border-radius: 10px;
    background-color: #ccc;
    margin-top: 40dvh;
}

.btn-voltar {
    position: fixed;
    top: 20px;
    left: 15px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;

    mat-icon {
        color: #fff;
    }
}

// ----------------------------------------------------------------------------- ///
@media screen and (min-width:730px) {
    .ng-main {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F2F2F2;
        width: 100%;
        height: 100vh;

        .container {
            display: flex;
            flex-direction: column;
            width: 530px;
            height: auto;
            padding: 25px 30px;
            gap: 10px;
            background: var(--background-color-container);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 20px;
            box-shadow: 0 1px 15px 8px rgba(0, 0, 0, 0.2);
            border-radius: 30px;

            .ng-cont1 {
                display: flex;
                flex-direction: column;

                h2 {
                    text-align: center;
                    font-size: 18px;
                    margin-bottom: 20px;
                    color: #ddd;
                }

                .steps-indicator {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 25px;
                }

                .steps-indicator div {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    font-weight: 600;
                    color: #ddd;
                    gap: 10px;
                    font-size: 10px;



                    .ng-cont {
                        gap: 0;

                        .ng-bola {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            line-height: 30px;
                        }


                        .ng-hr {
                            width: 40%;
                            height: 3px;
                        }
                    }
                }

            }


            .ng-password-btn {
                display: flex;
                padding: 2px;

                mat-icon {
                    cursor: pointer;
                    transform: scale(0.0.97);
                }
            }

            .ng-btn-signup {
                margin-top: 10dvh;
            }
        }
    }
}


.step-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}