<div class="ng-main">
    @if(isVisible) {
    <button class="btn-voltar" (click)="voltarPaginaAnterior()">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    }
    <div class="container">
        <div class="ng-cont1">
            <h2>Crie uma nova senha</h2>
            <div class="steps-indicator">
                <div>
                    <div class="ng-cont">
                        <div class="ng-bola" [class.active]="currentStep >= 1">1</div>

                        <div class="ng-hr" [class.active]="currentStep >= 2"></div>
                        <div class="ng-bola" [class.active]="currentStep >= 2">2</div>

                        <div class="ng-hr" [class.active]="currentStep >= 3"></div>
                        <div class="ng-bola" [class.active]="currentStep >= 3">3</div>
                    </div>

                </div>
                <div>
                    <p class="ng-p" [class.active]="currentStep >= 1">Informe seu email</p>
                    <p class="ng-p" [class.active]="currentStep >= 2">Informe o código</p>
                    <p class="ng-p" [class.active]="currentStep >= 3">Resete sua senha</p>
                </div>
            </div>
        </div>

        <form [formGroup]="form.passwordform">
            <!-- Step 1 -->
            <div *ngIf="currentStep === 1" class="form-step">
                <p></p>

                <fieldset class="ng-fieldset">
                    <legend>Email</legend>
                    <input #primeiroInput type="email" class="ng-input" placeholder="Seu Email" formControlName="email"
                        (keydown.enter)="enviarCodigoEmail()">
                </fieldset>
                @if (isRequired('email')) {
                <small class="ng-error">Informe um email válido!</small>
                }
            </div>

            <!-- Step 2 -->
            <div *ngIf="currentStep === 2" class="form-step step-2">
                <div #otpContainer class="card flex justify-center custom-otp">
                    <ngx-otp-input #otpRef [options]="otpOptions" (otpChange)="onCodeChange($event)"
                        (otpComplete)="onOtpComplete($event)">
                    </ngx-otp-input>

                </div>
                @if (isRequired('code')) {
                <small class="ng-error">Informe o código de verificação!</small>
                }

                <button mat-flat-button type="button" (click)="enviarCodigoEmail()">Reenviar código</button>
            </div>

            <!-- Step 3 -->
            <div *ngIf="currentStep === 3" class="form-step">
                <fieldset class="ng-fieldset">
                    <legend>Senha</legend>
                    <div class="ng-password-btn">
                        <input #primeiroInput [type]="ativo?'text':'password'" class="ng-input" placeholder="Senha"
                            formControlName="password" (keydown.enter)="focarProximoCampo('repeatPassword')">
                        <mat-icon (click)="visible()">{{icon}}</mat-icon>
                    </div>
                </fieldset>
                <app-password-strength-bar
                    [senha]="form.passwordform.get('password')?.value"></app-password-strength-bar>

                <div *ngIf="getFirstPasswordErrorMessage() as mensagem" class="ng-error">
                    {{ mensagem }}
                </div>

                <fieldset class="ng-fieldset">
                    <legend>Confirme sua senha</legend>
                    <input [type]="ativo?'text':'password'" class="ng-input" placeholder="Confirme sua senha"
                        formControlName="repeatPassword">
                </fieldset>
                @if (senhasNaoConferem()) {
                <div>
                    <small class="ng-error">As senhas não coincidem</small>
                </div>
                }

            </div>

            <div class="buttons">
                <button mat-flat-button type="button" (click)="enviarCodigoEmail()" *ngIf="currentStep === 1"
                    class="ng-btn" [disabled]="!isCurrentStepValid()  || carregando">
                    
                    <span class="btn-content">Enviar código</span>

                    @if (carregando) {
                    <div class="btn-spinner-container">
                        <mat-spinner [diameter]="20" strokeWidth="2"></mat-spinner>
                    </div>
                    }

                </button>
                <button mat-flat-button *ngIf="currentStep === 2" class="ng-btn"
                    [disabled]="!isCurrentStepValid() || carregando" (click)="validarCodigo()">

                    <span class="btn-content">Confirmar Código</span>

                    @if (carregando) {
                    <div class="btn-spinner-container">
                        <mat-spinner [diameter]="20" strokeWidth="2"></mat-spinner>
                    </div>
                    }
                </button>
                <button mat-flat-button *ngIf="currentStep === 3" class="ng-btn"
                    [disabled]="senhasNaoConferem() || !isCurrentStepValid()" (click)="novaSenha()">Criar nova
                    senha</button>
            </div>
        </form>
        @if(!isVisible) {
        <button class="ng-btn ng-btn-signup" mat-flat-button color="secundary"
            (click)="voltarPaginaAnterior()">Voltar</button>
        }
    </div>
</div>