<div class="ng-main">
    <div class="container">
        <div class="ng-cont1">
            <h2>Crie uma nova senha</h2>
            <div class="steps-indicator">
                <div>
                    <div class="ng-cont">
                        <div class="ng-bola" [class.active]="currentStep >= 1">1</div>

                        <div class="ng-hr" [class.active]="currentStep >= 2"></div>
                        <div class="ng-bola" [class.active]="currentStep >= 2">2</div>

                        <div class="ng-hr" [class.active]="currentStep >= 3"></div>
                        <div class="ng-bola" [class.active]="currentStep >= 3">3</div>
                    </div>

                </div>
                <div>
                    <p class="ng-p" [class.active]="currentStep >= 1"></p>
                    <p class="ng-p" [class.active]="currentStep >= 2"></p>
                    <p class="ng-p" [class.active]="currentStep >= 3"></p>
                </div>
            </div>
        </div>

        <form [formGroup]="form.passwordform" (ngSubmit)="onSubmit()">
            <!-- Step 1 -->
            <div *ngIf="currentStep === 1" class="form-step">
                <p></p>

                <fieldset class="ng-fieldset">
                    <legend>Email</legend>
                    <input type="email" class="ng-input" placeholder="Seu Email" formControlName="email"
                        (keydown.enter)="next()">
                </fieldset>
                @if (isRequired('email')) {
                <small class="ng-error">Informe um email válido!</small>
                }
            </div>

            <!-- Step 2 -->
            <div *ngIf="currentStep === 2" class="form-step">
                <div class="card flex justify-center custom-otp">
                    <app-inputOPT (codigoCompleto)="onCodigoCompleto($event)"></app-inputOPT>
                    
                </div>
                <small *ngIf="otpInvalido" class="ng-error">Código inválido. Tente novamente!</small>
            </div>

            <!-- Step 3 -->
            <div *ngIf="currentStep === 3" class="form-step">
                <fieldset class="ng-fieldset">
                    <legend>Razão Social (opcional)</legend>
                    <input type="text" class="ng-input" placeholder="Razão Social" formControlName="razaoSocial"
                        (keydown.enter)="focarProximoCampo('cnpj')">
                </fieldset>
                @if (isRequired('razaoSocial')) {
                <small class="ng-error">Informe a Razão Social</small>
                }
                <fieldset class="ng-fieldset">
                    <legend>CNPJ (opcional)</legend>
                    <input type="text" class="ng-input" placeholder="CNPJ" formControlName="cnpj"
                        mask="00.000.000/0000-00">
                </fieldset>
                @if (isRequired('cnpj')) {
                <small class="ng-error">Informe o CNPJ</small>
                }
            </div>

            <div class="buttons">
                <button mat-flat-button type="button" (click)="prev()" *ngIf="currentStep > 1"
                    class="ng-btn">Voltar</button>
                <button mat-flat-button type="button" (click)="next()" *ngIf="currentStep < 3" class="ng-btn"
                    [disabled]="!isCurrentStepValid()" (click)="validarOTP(codigoOTP)" [disabled]="codigoOTP.length <= 6">Próximo</button>
                <button mat-flat-button type="submit" *ngIf="currentStep === 3" class="ng-btn"
                    [disabled]="!isCurrentStepValid()">Cadastrar</button>
            </div>
        </form>
    </div>
</div>