.banner{
    display: flex;
    flex-direction: column;
    margin: 3px;
    width:200px;
    height:270px;
    border-radius: 3px;
    cursor: pointer;
    figure img{
        width: 200px;
        height: 150px;
        flex: 0 0 auto;
        object-fit: cover;
    }
}