<div class="banner" (click)="detalhes()">
    <figure class="img">
        <img [src]="imagem" alt="">
    </figure>
    <div class="ng-infor"></div>
    <span class="ng-descricao">{{titulo}}</span>
    <div class="ng-infor">
        <div class="ng-infor-price">
            <span>R$</span>
            <small>{{price}} no pix </small>
        </div>
        <div class="ng-infor-cred">
            <small>Ou até 3x no cartão </small>
        </div>
    </div>
    <!-- <div class="ng-btn">
        <button mat-raised-button class="btn">Comprar</button>
    </div> -->
</div>
