<section class="container" (click)="desabiledCar()">
    <div class="container-int" (click)="filhoClicado($event)">
        <div class="container-header">
            <button class="btn" mat-flat-button (click)="desabiledCar()">
                <mat-icon>close</mat-icon>
            </button>
            <h1>Cadastrar Produto</h1>
        </div>
        <div class="container-infor-produto">
            <section class="th">
                abcd
            </section>
            <section class="th">
                fdsfdf
            </section>
        </div>
    </div>
</section>