@media screen and (min-width:700px) {
    .categoria {
        
        background-color: #0a1630;
        padding: 0 40px;

        form input {
            border-radius: 5px;
            height: 30px;
        }

        .search {
            .icone:active {
                transform: scale(0.92);
            }
        }

        .ng-checkout {
            display: flex;
            align-items: center;
            padding: 0 10px;
            height: 100%;
            gap: 0 15px;
            cursor: pointer;

            .mat-icon {
                color: #fff;
            }

            .ng-btn-empresas {
                width: 160px;
                height: 100%;
                font-size: 16px;
                align-content: center;
                text-align: center;
                color: #ddd;
                cursor: pointer;
            }

            .ng-btn-empresas:hover {
                background-color: #192c57;
            }

            button {
                margin-left: 10px;
                background-color: #FF9933;
                padding: 5px 20px;
                border: 0;
                border-radius: 5px;
                cursor: pointer;

            }

            button:active {
                transform: scale(0.92);
            }

            .btn1 {
                background-color: #FF9933;
            }

            .btn2 {
                background-color: #f7f5f4;
            }

            .btn1:hover {
                background-color: #928c45;
                color: #FFF;
            }

            .btn2:hover {
                background-color: #b5f1ff;
                color: #0f0f0f;
            }
        }
    }

    .ng-header {
        box-sizing: 0px 0x 0px 1px;
        display: flex;
        justify-content: space-between;
        height: 55px;
        align-items: center;
        padding: 0 20px;

        .ng-logo {
            width: 160px;
            height: 40px;
            background-size: contain;
            background-image: url("/logo.png");
            padding: 18px 2px;
            background-repeat: no-repeat;
            margin-left: 10px;
            display: flex;
            align-items: center;
            justify-content: end;
            cursor: pointer;

            .icon {
                text-align: center;
                cursor: pointer;

            }
        }

        .ng-form form {
            display: flex;

            .search {
                width: 400px;
                display: flex;
                align-items: center;
                background-color: #ffffff;
                padding: 0 10px;
                border-radius: 5px;
                border: 1px solid #cac9c9;

                .ng-input {
                    flex: 1;
                    padding: 5px;
                    outline: none;
                    border: 0;
                }

                mat-icon {
                    padding: 0 2px;
                    cursor: pointer;
                }
            }

        }

        .ng-perfil {
            display: flex;
            align-items: center;
            gap: 10px;

            .ng-perfil-name {
                font-size: 12px;
            }

            .ng-avatar-icon {
                width: 35px;
                height: 35px;
                background-color: #ccc;
                border-radius: 50%;
                line-height: 30px;
                text-align: center;
                cursor: pointer;
            }
        }
    }

    .ng-usuario-logado {
        color: #fff;
    }
    .ng-popover {
        background: rgba($color: #BBB, $alpha: 0.9);
        width: 15dvw;
        border-radius:12px;
        padding: 10px;
        margin-top: 5px
    }
    .menu{
        background-color: #0a1630;
        right: 0;
        top: 5%;
        position: absolute;
        padding: 0 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .menu_drop{
            display: flex;
            flex-direction: column;
            padding: 10px 0;
            .menu_area{
                display: flex;
            flex-direction: column;
                        margin-top: 5px;

            li{
                padding: 5px 0;
                font-size: 15px;
                cursor: pointer;
            }
            li:hover{
                background-color: #064b5a;
            }

            }
        }
    }

}
