<header class="ng-header" [ngClass]="[(categoria || ''), token != null && isHome ? 'ng-usuario-logado' : '']">
    <section class="ng-logo" (click)="pageHome()">
        @if (admin) {
        <mat-icon (click)="exibir()" class="icon">menu</mat-icon>
        }
    </section>
    <section class="ng-form">
        <form action="" [formGroup]="grupo" (submit)="pegarvalor()">
            <div class="search">
                <input type="search" class="ng-input" formControlName="name" placeholder="Buscar...">
                <mat-icon class="icone">search</mat-icon>
            </div>
        </form>
    </section>
    @if (carrinho) {
    <section class="ng-checkout">
        <div class="ng-btn-empresas" (click)="pagePlanos()">Zapdai Empresas</div>
        <mat-icon (click)="light()">
            shopping_cart
        </mat-icon>
        @if (token === null) {
        <button ngClass="btn1" (click)="pageSignin()">
            Login
        </button>
        <button ngClass="btn2" (click)="pageSignup()">
            Signin
        </button>
        }
    </section>
    }

    <div class="card flex justify-center">
        @if (token != null) {
        <section class="ng-perfil" (click)="toggle($event)">
            <mat-icon (click)="light()">
                light_mode
            </mat-icon>
            <small class="ng-perfil-name">Olá Elivandro</small>
            <mat-icon class="ng-avatar-icon" (click)="Tmenu()">
                person
            </mat-icon>
        </section>
        }
        @if (exibimenu) {
        <div  class="menu">
            <div class="menu_drop">
                <p>{{ emailUser }}</p>
                <div class="menu_area">

                    <nav>
                        <ul>
                            <li>Meus Pedidos</li>
                            <li>Configurações</li>
                            <li>Editar Perfil</li>
                            <li (click)="deslogar()">Log Out</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    }
    </div>

</header>