<header class="ng-header" [ngClass]="categoria">
    <section class="ng-logo">
        @if (usuario) {
            <mat-icon (click)="exibir()"  class="icon">☰</mat-icon>
        }
    </section>
    <section class="ng-form" >
       <form action="" [formGroup]="grupo" (submit)="pegarvalor()">
          <input type="search" class="ng-input" formControlName="name" placeholder="Buscar...">
       </form>
    </section>
   @if (usuario) {
    <section class="ng-perfil">
        <mat-icon (click)="light()">
            light_mode
        </mat-icon>
        <small class="ng-perfil-name">Olá Elivandro</small>
         <mat-icon>
            person
         </mat-icon>
        <!-- <img src="#" alt="Imagem perfil"> -->
    </section>
   }
    @if (carrinho) {
        <section class="ng-checkout" >
            <mat-icon (click)="light()">
                shopping_cart
            </mat-icon>
         <button>
            Login
         </button>
        </section>
    }
</header>