<div class="app-content">

    <div class="ng-header-content">
        <section class="ng-form">
            <form action="" [formGroup]="groupSearh">
                <div class="search">
                    <input type="search" class="ng-input" formControlName="productName"
                        placeholder="Buscar por ID ou Nome do Produto" (focus)="getAllProdutosEmpresa()"
                        matAutocompletePosition="below">
                    <mat-icon class="icone">search</mat-icon>
                </div>
            </form>
        </section>

        <section class="header-buttons">
            <button class="ng-btn" (click)="ativaProduct()">
                <mat-icon class="ng-menu-icon">add</mat-icon>
                <small class="ng-menu-name">Cadastrar Produto</small>
            </button>
            <button class="ng-btn" (click)="ativaCategory()">
                <mat-icon class="ng-menu-icon">bookmark_add</mat-icon>
                <small class="ng-menu-name">Categorias</small>
            </button>
        </section>
    </div>
    <div class="ng-todosProdutos">
        <!-- Sempre mostra todos os produtos na tela -->
        @if (!hasSearchValue) {
        @for (item of todosProdutos; track item) {
        <app-utiusAdmin (emiter)="rodaFunc(item.idProduto)" [id]="item.idProduto" [titulo]="item.productName"
            [price]="item.price" [imagem]="item.imgUrl">
        </app-utiusAdmin>
        }
        }

        <!-- Lista filtrada (autocomplete personalizado) -->
        @if (hasSearchValue) {
        <ul class="custom-autocomplete-panel">
            @for (item of filteredProdutos | async; track item) {
            <li [value]="item.productName">
                <app-utiusAdmin (emiter)="rodaFunc(item.idProduto)" [id]="item.idProduto" [titulo]="item.productName"
                    [price]="item.price" [imagem]="item.imgUrl">
                </app-utiusAdmin>
            </li>
            }
        </ul>
        }

    </div>
</div>

@if (ativaCreatProduct) {
<app-create-product (desbiledCarEmit)="ativaProduct()"></app-create-product>
}


@if (openCategory) {
<app-categorias (CategoriaEmit)="ativaCategory()"></app-categorias>
}