<div class="ng-main">
    <div class="container">
        <form *ngIf="groupform"  [formGroup]="groupform">
            <div class="tab-container">
                <div class="tab-header">
                    <button [class.active]="activeTab === 'pessoal'" (click)="setTab('pessoal')">
                        <mat-icon>manage_accounts</mat-icon>
                        Informações Pessoais
                    </button>
                    <button [class.active]="activeTab === 'endereco'" (click)="setTab('endereco')">
                        <mat-icon>house</mat-icon>
                        Seu Endereço
                    </button>
                </div>

                <div class="tab-body">
                    @if (activeTab === 'pessoal') {
                    <div [@fadeInOut]>
                        <fieldset class="ng-fieldset">
                            <legend>Nome Completo</legend>
                            <input #primeiroInput type="text" class="ng-input"
                                formControlName="nome" (keydown.enter)="focarProximoCampo('numeroDeTelefone')">
                        </fieldset>
                        @if (isRequired('nome')) {
                        <small class="ng-error">Informe o Nome da Empresa</small>
                        }

                        <fieldset class="ng-fieldset">
                            <legend>Número de telefone</legend>
                            <input type="text" class="ng-input" placeholder="Nº de telefone" formControlName="telefone" 
                                mask="(00) 00000-0000">
                        </fieldset>
                        @if (isRequired('telefone')) {
                        <small class="ng-error">Informe o Nº de telefone</small>
                        }
                        <div class="ng-listForm">
                            <div>
                                <fieldset class="ng-fieldset">
                                    <legend>Sexo</legend>
                                    <select formControlName="sexo" id="" class="ng-input">
                                        <option disabled selected value="">Selecione</option>
                                        <option value="m">Masculino</option>
                                        <option value="f">Feminino</option>
                                        <option value="o">Outros</option>
                                    </select>
                                </fieldset>
                                @if (isRequired('sexo')) {
                                <small class="ng-error">Selecione seu sexo!</small>
                                }
                            </div>
                            <div>
                                <fieldset class="ng-fieldset">
                                    <legend>Data nascimento</legend>
                                    <input type="datetime" class="ng-input" placeholder="Data nascimento..."
                                        formControlName="dataNascimento">
                                </fieldset>
                                @if (isRequired('dataNascimento')) {
                                <small class="ng-error">Informe sua Data nascimento</small>
                                }
                            </div>
                        </div>


                        <div class="ng-listForm">
                            <div>
                                <fieldset class="ng-fieldset fieldset-disabled">
                                    <legend>Email</legend>
                                    <input type="email" class="ng-input email-somente-leitura"
                                        [value]="[this.authDecodeUser.getSub()]" readonly />
                                </fieldset>
                            </div>
                            <div>
                                <fieldset class="ng-fieldset fieldset-disabled">
                                    <legend>CPF</legend>
                                    <input type="text" class="ng-input email-somente-leitura" formControlName="cpf"
                                        readonly />
                                </fieldset>
                            </div>

                        </div>


                        <button mat-flat-button type="button" class="ng-btn" (click)="AtualizarUsuario()">Atualizar Informações</button>
                    </div>
                    }

                    <!---------------------------------------------------------------------------------------------------- -->

                    @if (activeTab === 'endereco') {
                    <div [@fadeInOut]>
                        <div class="ng-listForm">
                            <div>
                                <fieldset class="ng-fieldset">
                                    <legend>CEP</legend>
                                    <input #primeiroInput type="text" class="ng-input" placeholder="CEP"
                                        formControlName="cep" mask="00000-000"
                                        (keydown.enter)="focarProximoCampo('estado_sigla')">
                                </fieldset>
                                @if (isRequired('cep')) {
                                <small class="ng-error">Informe um CEP válido!</small>
                                }
                            </div>
                            <div>
                                <fieldset class="ng-fieldset">
                                    <legend>Estado</legend>
                                    <input type="text" class="ng-input" placeholder="Estado"
                                        formControlName="estado_sigla" (keydown.enter)="focarProximoCampo('cidade')">
                                </fieldset>
                                @if (isRequired('estado_sigla')) {
                                <small class="ng-error">Informe o Estado</small>
                                }
                            </div>
                        </div>
                        <div class="ng-listForm">
                            <div>
                                <fieldset class="ng-fieldset">
                                    <legend>Cidade</legend>
                                    <input type="text" class="ng-input" placeholder="Cidade" formControlName="cidade"
                                        (keydown.enter)="focarProximoCampo('bairro')">
                                </fieldset>
                                @if (isRequired('cidade')) {
                                <small class="ng-error">Informe a Cidade</small>
                                }
                            </div>
                            <div>
                                <fieldset class="ng-fieldset">
                                    <legend>Bairro</legend>
                                    <input type="text" class="ng-input" placeholder="Bairro" formControlName="bairro"
                                        (keydown.enter)="focarProximoCampo('rua')">
                                </fieldset>
                                @if (isRequired('bairro')) {
                                <small class="ng-error">Informe o Bairro</small>
                                }
                            </div>
                        </div>

                        <fieldset class="ng-fieldset">
                            <legend>Rua</legend>
                            <input type="text" class="ng-input" placeholder="Rua" formControlName="rua"
                                (keydown.enter)="focarProximoCampo('numeroEndereco')">
                        </fieldset>
                        @if (isRequired('rua')) {
                        <small class="ng-error">Informe a Rua</small>
                        }
                        <fieldset class="ng-fieldset">
                            <legend>Nº da Casa/Apt</legend>
                            <input type="text" class="ng-input" placeholder="Nº da Casa/Apt"
                                formControlName="numeroEndereco" (keydown.enter)="focarProximoCampo('LOGRADOURO')">
                        </fieldset>
                        @if (isRequired('numeroEndereco')) {
                        <small class="ng-error">Informe o Nº da Casa ou Apt</small>
                        }
                        <fieldset class="ng-fieldset">
                            <legend>Complemento (opcional)</legend>
                            <input type="text" class="ng-input" placeholder="Complemento" >
                        </fieldset>


                        <button mat-flat-button type="button" class="ng-btn" (click)="AtualizarUsuario()">Atualizar Endereço</button>
                    </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>