.ng-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    .ng-footer-small{
        font-size: 12px;
        color: var(--color-header);
        text-align: center;
    }

}