<section class="main-processando">
    <div class="pess">
        <small></small>
    </div>
</section>
    <div class="main">
        <div class="container">
            <div class="card">
                <h1>⏳ Pagamento em Processamento...</h1>
                <p class="welcome">Aguarde enquanto confirmamos seu pagamento.</p>
                <p>Isso pode levar alguns segundos.</p>
                <p>📧 Verifique seu e-mail para mais informações ou atualizações.</p>
                <div class="spinner"></div>
            </div>
        </div>
    </div>
