<div class="ng-main">
    <div class="container">
        <div class="ng-cont1">
            <h2>Cadastre sua Empresa</h2>
            <div class="steps-indicator">
                <div>
                    <div class="ng-cont">
                        <div class="ng-bola" [class.active]="currentStep >= 1">1</div>

                        <div class="ng-hr" [class.active]="currentStep >= 2"></div>
                        <div class="ng-bola" [class.active]="currentStep >= 2">2</div>

                        <div class="ng-hr" [class.active]="currentStep >= 3"></div>
                        <div class="ng-bola" [class.active]="currentStep >= 3">3</div>
                    </div>

                </div>
                <div>
                    <p class="ng-p" [class.active]="currentStep >= 1">Informações Básicas</p>
                    <p class="ng-p" [class.active]="currentStep >= 2">Endereço da Empresa</p>
                    <p class="ng-p" [class.active]="currentStep >= 3">Finalizar Cadastro</p>
                </div>
            </div>
        </div>

        <form [formGroup]="form.empresaform" (ngSubmit)="onSubmit()">
            <!-- Step 1 -->
            <div *ngIf="currentStep === 1" class="form-step">
                <fieldset class="ng-fieldset">
                    <legend>Nome da Empresa</legend>
                    <input type="text" class="ng-input" placeholder="Obs: Nome que vai aparecer para seus clientes"
                        formControlName="nomeCompania">
                </fieldset>
                @if (isRequired('nomeCompania')) {
                <small class="ng-error">Informe o Nome da Empresa</small>
                }

                <fieldset class="ng-fieldset">
                    <legend>Número de telefone</legend>
                    <input type="text" class="ng-input" placeholder="Nº de telefone da Empresa"
                        formControlName="numeroDeTelefone"
                        mask="(00) 00000-0000">
                </fieldset>
                @if (isRequired('numeroDeTelefone')) {
                <small class="ng-error">Informe o Nº de telefone</small>
                }

                <fieldset class="ng-fieldset">
                    <legend>Email</legend>
                    <input type="email" class="ng-input" placeholder="Email da Empresa" formControlName="email">
                </fieldset>
                @if (isRequired('email')) {
                <small class="ng-error">Informe o email</small>
                }
            </div>

            <!-- Step 2 -->
            <div *ngIf="currentStep === 2" class="form-step">
                <div class="ng-listForm">
                    <div>
                        <fieldset class="ng-fieldset">
                            <legend>CEP</legend>
                            <input type="text" class="ng-input" placeholder="CEP" formControlName="cep" mask="00000-000">
                        </fieldset>
                        @if (isRequired('cep')) {
                            <small class="ng-error">Informe seu CEP</small>
                        }
                    </div>
                    <div>
                        <fieldset class="ng-fieldset">
                            <legend>Estado</legend>
                            <input type="text" class="ng-input" placeholder="Estado" formControlName="estado_sigla">
                        </fieldset>
                        @if (isRequired('estado_sigla')) {
                        <small class="ng-error">Informe o Estado</small>
                        }
                    </div>
                </div> 
                <div class="ng-listForm">
                    <div>
                        <fieldset class="ng-fieldset">
                            <legend>Cidade</legend>
                            <input type="text" class="ng-input" placeholder="Cidade" formControlName="cidade">
                        </fieldset>
                        @if (isRequired('cidade')) {
                        <small class="ng-error">Informe a Cidade</small>
                        }
                    </div>
                    <div>
                        <fieldset class="ng-fieldset">
                            <legend>Bairro</legend>
                            <input type="text" class="ng-input" placeholder="Bairro" formControlName="bairro">
                        </fieldset>
                        @if (isRequired('bairro')) {
                            <small class="ng-error">Informe o Bairro</small>
                        }
                    </div>
                </div>
                
                <fieldset class="ng-fieldset">
                    <legend>Rua</legend>
                    <input type="text" class="ng-input" placeholder="Rua" formControlName="rua">
                </fieldset>
                @if (isRequired('rua')) {
                <small class="ng-error">Informe a Rua</small>
                }
                <fieldset class="ng-fieldset">
                    <legend>Nº da Casa/Apt</legend>
                    <input type="text" class="ng-input" placeholder="Nº da Casa/Apt" formControlName="numeroEndereco">
                </fieldset>
                @if (isRequired('numeroEndereco')) {
                <small class="ng-error">Informe o Nº da Casa ou Apt</small>
                }
            </div>

            <!-- Step 3 -->
            <div *ngIf="currentStep === 3" class="form-step">
                <fieldset class="ng-fieldset">
                    <legend>Razão Social (opcional)</legend>
                    <input type="text" class="ng-input" placeholder="Razão Social" formControlName="razaoSocial">
                </fieldset>
                @if (isRequired('razaoSocial')) {
                <small class="ng-error">Informe a Razão Social</small>
                }
                <fieldset class="ng-fieldset">
                    <legend>CNPJ (opcional)</legend>
                    <input type="text" class="ng-input" placeholder="CNPJ" formControlName="cnpj" mask="00.000.000/0000-00">
                </fieldset>
                @if (isRequired('cnpj')) {
                <small class="ng-error">Informe o CNPJ</small>
                }
            </div>

            <div class="buttons">
                <button mat-flat-button type="button" (click)="prev()" *ngIf="currentStep > 1"
                    class="ng-btn">Voltar</button>
                <button mat-flat-button type="button" (click)="next()" *ngIf="currentStep < 3" class="ng-btn"
                    [disabled]="!isCurrentStepValid()">Próximo</button>
                <button mat-flat-button type="submit" *ngIf="currentStep === 3" class="ng-btn" [disabled]="!isCurrentStepValid()">Cadastrar</button>
            </div>
        </form>
    </div>
</div>