<div class="container">
    <h2>Cadastre sua Empresa</h2>
    <div class="steps-indicator">
        <div>
            <div class="ng-cont">
                <div class="ng-bola" [class.active]="currentStep >= 1">1</div>

                <div class="ng-hr" [class.active]="currentStep >= 2"></div>
                <div class="ng-bola" [class.active]="currentStep >= 2">2</div>

                <div class="ng-hr" [class.active]="currentStep >= 3"></div>
                <div class="ng-bola" [class.active]="currentStep >= 3">3</div>
            </div>

        </div>
        <div>
            <p class="ng-p" [class.active]="currentStep >= 1">Informações Básicas</p>
            <p class="ng-p" [class.active]="currentStep >= 2">Endereço da Empresa</p>
            <p class="ng-p" [class.active]="currentStep >= 3">Finalizar Cadastro</p>
        </div>
    </div>

    <form >
        <!-- Step 1 -->
        <div *ngIf="currentStep === 1" formGroupName="step1" class="form-step">
            <fieldset class="ng-fieldset">
                <legend>Email</legend>
                <input type="email" autofocus="on"autocomplete="username"
                    class="ng-input" placeholder="Email..." >

            </fieldset>

            <fieldset class="ng-fieldset">
                <legend>Senha</legend>
                <div class="ng-password-btn">
                    <input class="ng-input" placeholder="Senha...">
                    

                </div>
            </fieldset>
        </div>

        <!-- Step 2 -->
        <div *ngIf="currentStep === 2" class="form-step">
            <fieldset class="ng-fieldset">
                <legend>Email</legend>
                <input type="email" autofocus="on"autocomplete="username"
                    class="ng-input" placeholder="Email..." >

            </fieldset>

            <fieldset class="ng-fieldset">
                <legend>Senha</legend>
                <div class="ng-password-btn">
                    <input class="ng-input" placeholder="Senha...">
                    

                </div>
            </fieldset>
            <fieldset class="ng-fieldset">
                <legend>Senha</legend>
                <div class="ng-password-btn">
                    <input class="ng-input" placeholder="Senha...">
                    

                </div>
            </fieldset>
        </div>

        <!-- Step 3 -->
        <div *ngIf="currentStep === 3" class="form-step">
            <fieldset class="ng-fieldset">
                <legend>Email</legend>
                <input type="email" autofocus="on"autocomplete="username"
                    class="ng-input" placeholder="Email..." >

            </fieldset>

            <fieldset class="ng-fieldset">
                <legend>Senha</legend>
                <div class="ng-password-btn">
                    <input class="ng-input" placeholder="Senha...">
                    

                </div>
            </fieldset>
            <fieldset class="ng-fieldset">
                <legend>Senha</legend>
                <div class="ng-password-btn">
                    <input class="ng-input" placeholder="Senha...">
                    

                </div>
            </fieldset>
            <fieldset class="ng-fieldset">
                <legend>Senha</legend>
                <div class="ng-password-btn">
                    <input class="ng-input" placeholder="Senha...">
                    

                </div>
            </fieldset>

        </div>

        <div class="buttons">
            <button mat-flat-button type="button" (click)="prev()" *ngIf="currentStep > 1"
                class="ng-btn">Voltar</button>
            <button mat-flat-button type="button" (click)="next()" *ngIf="currentStep < 3"
                class="ng-btn">Próximo</button>
            <button mat-flat-button type="submit" *ngIf="currentStep === 3" class="ng-btn">Cadastrar</button>
        </div>
    </form>
</div>