.barra-container {
  background-color: #e0e0e0;
  height: 8px; /* barra mais fina */
  border-radius: 4px;
  overflow: hidden;
  margin-top: 8px;
  position: relative;
}

.barra {
  height: 100%;
  transition: width 0.4s ease;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.texto-barra {
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 13px;
  color: #444;
}
