.area-loja {
    margin-top: 6px;
    padding: 0;


    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
        position: relative;
        scrollbar-width: thin;
        scrollbar-color: rgba(21, 9, 185, 0.133);

        .ng-categoria {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            flex: 1;

            .container-area {
                .ng-itens {
                    display: flex;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    padding: 20px 10px;
                    gap: 10px;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 3px;
                    flex: 1;
                    overflow-x: auto;
                    scroll-behavior: smooth;
                    scrollbar-width: none;
                    background-color: #fff;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);

                }

                .carrossel {
                    margin-top: 18px;


                }

            }

            .propaganda {
                margin: auto 10px;
                gap: 10px 0;
                padding: 0 5px;


            }

        }
    }
}

@media screen and (min-width: 728px) {
    .area-loja {

        margin-top: 35px;

        .main {

            overflow-y: hidden;
            overflow-x: hidden;

            .ng-categoria {
                .container-area {
                    margin: auto 56px;
                    margin-bottom: 20px;

                    .ng-itens {
                        padding: 2px 156px;
                    }


                    .carrossel {
                        margin-top: 1px;


                    }
                }

                .propaganda {
                    margin: auto 56px;

                }

            }
        }
    }
}

.btn {
    bottom: 0;
    position: fixed;
    right: 15px;
    margin-bottom: 80px;


    button {
        background-color: #8CABFF;
        padding: 3px;
        border: 0;
        border-radius: 5pc;
        cursor: pointer;

    }
}