@if (isVisible) {
  <nav class="mobile-tab-bar">
    <button (click)="navegar('/home')" [class.active]="router.url === '/home'">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <button (click)="navegar('/compras')" [class.active]="router.url === '/compras'">
      <mat-icon>shopping_cart</mat-icon>
      <span>Compras</span>
    </button>

    <button (click)="navegar('/lojas')" [class.active]="router.url === '/lojas'">
      <mat-icon>store</mat-icon>
      <span>Lojas</span>
    </button>

    <button (click)="navegar('/notificacoes')" [class.active]="router.url === '/notificacoes'">
      <mat-icon>notifications</mat-icon>
      <span>Notificações</span>
    </button>

    <button (click)="navegar('/my-account')" [class.active]="router.url === '/my-account'">
      <mat-icon>menu</mat-icon>
      <span>Menu</span>
    </button>
  </nav>
}
