.mobile-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0d1d3f;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ddd;
  z-index: 1000;

  button {
    background: none;
    border: none;
    flex-grow: 1;
    text-align: center;
    padding: 8px 0;
    color: #ddd;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    mat-icon {
      font-size: 22px;
      margin-bottom: 2px;
      font-weight: 600;
    }

    &.active {
      color: #FF9933;
      font-weight: 550;
    }
  }
}
