<app-modal>
  <div class="titulo">
    <span>{{titulo}}</span>
  </div>
  <div class="carrossel-container">
 <div class="botoes bn">
      <button (click)="rolarDireita()">
        <mat-icon (click)="rolarDireita()">
          chevron_left

      </mat-icon>
        </button>
         <button class="btn" (click)="rolarEsquerda()">
         <mat-icon (click)="rolarDireita()">
          chevron_right

      </mat-icon>
      </button>
    </div>
   

    <div class="scroll-container" #scrollContainer>
      <app-utius [titulo]="titulo2" [imagem]="imagem"></app-utius>
      <app-utius [titulo]="titulo3" [imagem]="imagem"></app-utius>
      <app-utius [titulo]="titulo4" [imagem]="imagem"></app-utius>
      <app-utius [titulo]="titulo5" [imagem]="imagem"></app-utius>
      <app-utius [titulo]="titulo6" [imagem]="imagem"></app-utius>
      <app-utius [titulo]="titulo2" [imagem]="imagem"></app-utius>
      <app-utius [titulo]="titulo5" [imagem]="imagem"></app-utius>
      <app-utius [titulo]="titulo3" [imagem]="imagem"></app-utius>
    </div>

    
  </div>
</app-modal>