<div class="otp-container">
  <input type="text" maxlength="1" [(ngModel)]="codigo[0]" name="otp1" inputmode="numeric" autocomplete="one-time-code" (input)="autoTab(0, $event)" />
  <input type="text" maxlength="1" [(ngModel)]="codigo[1]" name="otp2" inputmode="numeric" (input)="autoTab(1, $event)" />
  <input type="text" maxlength="1" [(ngModel)]="codigo[2]" name="otp3" inputmode="numeric" (input)="autoTab(2, $event)" />
  <input type="text" maxlength="1" [(ngModel)]="codigo[3]" name="otp4" inputmode="numeric" (input)="autoTab(3, $event)" />
  <input type="text" maxlength="1" [(ngModel)]="codigo[4]" name="otp5" inputmode="numeric" (input)="autoTab(4, $event)" />
  <input type="text" maxlength="1" [(ngModel)]="codigo[5]" name="otp6" inputmode="numeric" (input)="autoTab(5, $event)" />
</div>
