@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --font-principal: 14px;
  --color-header: #79717A;
  --font-family: "Roboto", sans-serif;
  --font-optical-sizing: auto;
  --font-weight: weight;
  --font-style: normal;
  --font-variation-settings:
    "wdth" 100;
  --background-color-container: linear-gradient(to bottom, #432059, #000000);

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: var();
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(family);
  font-style: var(--font-style);
  font-size: 18px;

}

body,
app-root {
  padding-bottom: 60px;
  margin: 0;
}

body.modal-open {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
}



input,
textarea,
select {
  font-size: 16px;
}


.snackbar-error {
  @include mat.snack-bar-overrides((container-color: #a8190f,
      button-color: white,
      supporting-text-color: white,
    ));
}

.snackbar-success {
  @include mat.snack-bar-overrides((container-color: #4caf50,
      button-color: white,
      supporting-text-color: white,
    ));
}

.snackbar-info {
  @include mat.snack-bar-overrides((container-color: #2196f3,
      button-color: white,
      supporting-text-color: white,
    ));
}

.snackbar-success,
.snackbar-error,
.snackbar-info,
.snackbar-multiline {
  z-index: 9999 !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}



::ng-deep .cdk-overlay-container {
  z-index: 9999 !important;
}



