@use '@angular/material' as mat;
@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --font-principal: 14px;
  --color-header: #79717A;
  --font-family: "Roboto", sans-serif;
  --font-optical-sizing: auto;
  --font-weight: weight;
  --font-style: normal;
  --font-variation-settings:
    "wdth" 100;
  --background-color-container: linear-gradient(to bottom, #432059, #000000);

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: 100%;
  font-size: var();
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(family);
  font-style: var(--font-style);
  font-size: 18px;
  overflow: hidden;

}

body,
app-root {
  padding-bottom: 60px;
  margin: 0;
}


input,
textarea,
select {
  font-size: 16px;
}


.snackbar-error {
  @include mat.snack-bar-overrides((container-color: #a8190f,
      button-color: white,
      supporting-text-color: white,
    ));
}

.snackbar-success {
  @include mat.snack-bar-overrides((container-color: #4caf50,
      button-color: white,
      supporting-text-color: white,
    ));
}

.snackbar-info {
  @include mat.snack-bar-overrides((container-color: #2196f3,
      button-color: white,
      supporting-text-color: white,
    ));
}

.snackbar-success,
.snackbar-error,
.snackbar-info,
.snackbar-multiline {
  z-index: 9999 !important;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}



::ng-deep .cdk-overlay-container {
  z-index: 9999 !important;
}












/* leaflet.css (mínimo necessário) */
.leaflet-container {
  height: 100%;
  width: 100%;
  position: relative;
  outline: none;
  z-index: 0;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-map-pane {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-tile {
  height: 256px;
  width: 256px;
  will-change: transform;
}

.leaflet-zoom-animated {
  transform-origin: 0 0;
}

.leaflet-layer {
  z-index: 1;
}

.leaflet-control-attribution {
  font-size: 11px;
  text-align: right;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
}
