<div class="ng-main">

  @if (usuario && usuario.nome) {
  <div class="avatar-preview">
    @if (usuario.avatar) {
    <img [src]="usuario.avatar" alt="Pré-visualização" class="ng-img" />
    } @else {
    <mat-icon class="ng-avatar-icon">
      person
    </mat-icon>
    }
  </div>

  }@else{
  <ng-template class="usuario">
    <p>Carregando dados de usuário...</p>
  </ng-template>
  }

  <div class="buttons">
    <label for="fileInput" class="ng-btn">
      <input #fileInput id="fileInput" type="file" (change)="onFileSelected($event)" accept="image/*" hidden />
      Escolher Imagem
    </label>

    <button mat-raised-button class="ng-btn" [disabled]="!selectedFile" (click)="salvarImagem()">
      Salvar Imagem
    </button>
  </div>
</div>