:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.demo-section .demo-section {
    margin-top: 16px;
}

.main {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;

    .ng-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 45px;
        align-items: center;
        padding: 0 20px;
        background-color: #0d1d3f;
        color: #DDD;
        box-shadow: 1px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);

        .menu-logo {
            display: flex;
            align-items: center;
        }

        .menu-logo-mobile {
            width: 100%;
            justify-content: space-between;
            flex-direction: row-reverse;

        }


        .ng-logo {
            width: 130px;
            height: 25px;
            background-size: contain;
            background-image: url("/logo.png");
            padding: 18px 2px;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: end;
            cursor: pointer;

            .icon {
                text-align: center;
                cursor: pointer;

            }
        }

        .ng-form form {
            display: flex;

            .search {
                width: 400px;
                display: flex;
                align-items: center;
                background-color: #ffffff;
                padding: 0 10px;
                border-radius: 5px;
                border: 1px solid #cac9c9;

                .ng-input {
                    flex: 1;
                    padding: 5px;
                    outline: none;
                    border: none;


                }

                mat-icon {
                    padding: 0 2px;
                    cursor: pointer;
                    color: #000;
                }
            }

        }

        .ng-perfil {
            display: flex;
            align-items: center;
            gap: 10px;
            z-index: 1000;

            .ng-perfil-name {
                font-size: 12px;
            }

            .avatar {
                width: 35px;
                height: 35px;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .ng-avatar-icon {
                width: 35px;
                height: 35px;
                background-color: #ccc;
                border-radius: 50%;
                line-height: 30px;
                text-align: center;
            }
        }

        .ng-perfil02 {
            cursor: pointer;
        }

        form input {
            border-radius: 5px;
            height: 30px;
        }

        .search {
            .icone:active {
                transform: scale(0.92);
            }
        }

        .ng-checkout {
            display: flex;
            align-items: center;
            gap: 0 15px;
            height: 100%;
            cursor: pointer;

            .carrinho {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 30%;
                height: 100%;

                .toggle-ico {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: red;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 15px;
                    height: 15px;
                    border-radius: 100%;
                    font-size: 10px;
                    font-weight: 600;
                    margin-top: 8px;

                }

                mat-icon {
                    font-size: 24px;
                }
            }

            .mat-icon {
                color: #fff;
            }

            .ng-btn-empresas {
                display: flex;
                width: 160px;
                font-size: 14px;
                justify-content: center;
                color: #ddd;
                cursor: pointer;
            }

            .ng-btn-empresas:hover {
                background-color: #192c57;
            }

            button {
                margin-left: 10px;
                background-color: #FF9933;
                padding: 5px 20px;
                border: 0;
                border-radius: 5px;
                cursor: pointer;

            }

            button:active {
                transform: scale(0.92);
            }

            .btn1 {
                background-color: #FF9933;
            }

            .btn2 {
                background-color: #f7f5f4;
            }

            .btn1:hover {
                background-color: #928c45;
                color: #FFF;
            }

            .btn2:hover {
                background-color: #b5f1ff;
                color: #0f0f0f;
            }
        }
    }


    .admin {
        background-color: #FFF;
        color: #333;
        border-bottom: 1px solid #ccc;
    }

}


.menu {
    right: 0;
    margin-right: 5px;
    top: 9px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;

    .menu_drop {
        background-color: #0a1630;
        position: fixed;
        z-index: 1000;
        right: 0;
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        .menu_area {
            display: flex;
            flex-direction: column;
            margin-top: 5px;

            li {
                display: flex;
                align-items: center;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                padding: 10px 25px;
                gap: 10px;
                font-size: 15px;
                color: #BBB;
                cursor: pointer;
            }

            li:hover {
                background-color: #1f2f55;
            }

        }

        .detalhes {
            height: 36px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px 25px;

            p {
                font-size: 16px;
                color: #FFF;
            }
        }

        .a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

            .btn-logOut {
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: #FF9933;
                font-weight: 600;
                width: 90%;
                color: #fff;
                border-radius: 5px;
                padding: 10px 25px;
                border: 0;
                transition: all 0.1s ease-in;
                cursor: pointer;
            }

            .btn-logOut:hover {
                transform: scale(0.97);
                background-color: #ac5f13;
                color: #f2f2f2;

            }

        }

        .linha {
            height: 1px;
            background-color: rgba(255, 255, 255, 0.1);
            width: 100%;
            margin: 8px 0;
        }
    }
}



// -----------------------------------------------------------------------------------------------------------//
@media screen and (min-width:769px) {
    .main {
        position: fixed;
        width: 100%;
        z-index: 1000;
        top: 0;
        left: 0;

        .ng-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            height: 55px;
            align-items: center;
            padding: 0 20px;
            background-color: #0d1d3f;
            color: #DDD;
            box-shadow: 1px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);

            .menu-logo {
                display: flex;
                align-items: center;
                gap: 0 20px;
            }


            .ng-logo {
                width: 160px;
                height: 40px;
                background-size: contain;
                background-image: url("/logo.png");
                padding: 18px 2px;
                background-repeat: no-repeat;
                margin-left: 10px;
                display: flex;
                align-items: center;
                justify-content: end;
                cursor: pointer;

                .icon {
                    text-align: center;
                    cursor: pointer;

                }
            }

            .ng-form form {
                display: flex;

                .search {
                    width: 400px;
                    display: flex;
                    align-items: center;
                    background-color: #ffffff;
                    padding: 0 10px;
                    border-radius: 5px;
                    border: 1px solid #cac9c9;

                    .ng-input {
                        flex: 1;
                        padding: 5px;
                        outline: none;
                        border: none;


                    }

                    mat-icon {
                        padding: 0 2px;
                        cursor: pointer;
                        color: #000;
                    }
                }

            }

            .ng-perfil {
                display: flex;
                align-items: center;
                gap: 10px;
                z-index: 1000;

                .ng-perfil-name {
                    font-size: 12px;
                }

                .avatar {
                    width: 35px;
                    height: 35px;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .ng-avatar-icon {
                    width: 35px;
                    height: 35px;
                    background-color: #ccc;
                    border-radius: 50%;
                    line-height: 30px;
                    text-align: center;
                }
            }

            .ng-perfil02 {
                cursor: pointer;
            }

            form input {
                border-radius: 5px;
                height: 30px;
            }

            .search {
                .icone:active {
                    transform: scale(0.92);
                }
            }

            .ng-checkout {
                display: flex;
                align-items: center;
                gap: 0 15px;
                height: 100%;
                cursor: pointer;

                .carrinho {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 30%;
                    height: 100%;

                    .toggle-ico {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: red;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 15px;
                        height: 15px;
                        border-radius: 100%;
                        font-size: 10px;
                        font-weight: 600;
                        margin-top: 8px;

                    }

                    mat-icon {
                        font-size: 24px;
                    }
                }

                .mat-icon {
                    color: #fff;
                }

                .ng-btn-empresas {
                    display: flex;
                    width: 160px;
                    font-size: 14px;
                    justify-content: center;
                    color: #ddd;
                    cursor: pointer;
                }

                .ng-btn-empresas:hover {
                    background-color: #192c57;
                }

                button {
                    margin-left: 10px;
                    background-color: #FF9933;
                    padding: 5px 20px;
                    border: 0;
                    border-radius: 5px;
                    cursor: pointer;

                }

                button:active {
                    transform: scale(0.92);
                }

                .btn1 {
                    background-color: #FF9933;
                }

                .btn2 {
                    background-color: #f7f5f4;
                }

                .btn1:hover {
                    background-color: #928c45;
                    color: #FFF;
                }

                .btn2:hover {
                    background-color: #b5f1ff;
                    color: #0f0f0f;
                }
            }
        }



        .admin {
            background-color: #FFF;
            color: #333;
            border-bottom: 1px solid #ccc;
        }

    }


}